<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GuessMyMessClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GuessMyMessClient.Properties.Settings>
      <setting name="languageCode" serializeAs="String">
        <value>en-US</value>
      </setting>
    </GuessMyMessClient.Properties.Settings>
  </userSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Config" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>

        <binding name="NetTcpBinding_IAuthenticationService">
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>

        <binding name="NetTcpBinding_IUserProfileService">
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>

        <binding name="NetTcpBinding_ISocialService">
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>

        <binding name="NetTcpBinding_IMatchmakingService">
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>

        <binding name="NetTcpBinding_ILobbyService">
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>

        <binding name="NetTcpBinding_IGameService">
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Auth/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthenticationService"
        behaviorConfiguration="ClientCertificateBehavior"
        contract="AuthService.IAuthenticationService" name="NetTcpBinding_IAuthenticationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Game/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameService"
        behaviorConfiguration="ClientCertificateBehavior"
        contract="GameService.IGameService" name="NetTcpBinding_IGameService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Lobby/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyService"
        behaviorConfiguration="ClientCertificateBehavior"
        contract="LobbyService.ILobbyService" name="NetTcpBinding_ILobbyService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Matchmaking/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchmakingService"
        behaviorConfiguration="ClientCertificateBehavior"
        contract="MatchmakingService.IMatchmakingService" name="NetTcpBinding_IMatchmakingService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Profile/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Config"
        behaviorConfiguration="ClientCertificateBehavior"
        contract="ProfileService.IUserProfileService" name="NetTcpBinding_IUserProfileService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Social/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISocialService"
        behaviorConfiguration="ClientCertificateBehavior"
        contract="SocialService.ISocialService" name="NetTcpBinding_ISocialService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>