<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GuessMyMessClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<GuessMyMessClient.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>en-US</value>
			</setting>
		</GuessMyMessClient.Properties.Settings>
	</userSettings>

	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_Config" closeTimeout="00:02:00"
     openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
     maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
     <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IAuthenticationService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUserProfileService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISocialService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Auth/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthenticationService"
    contract="AuthService.IAuthenticationService" name="NetTcpBinding_IAuthenticationService">
    <identity>
     <userPrincipalName value="DESKTOP-MBESJIN\zenbook i5" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Profile/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserProfileService"
    contract="ProfileService.IUserProfileService" name="NetTcpBinding_IUserProfileService">
    <identity>
     <userPrincipalName value="DESKTOP-MBESJIN\zenbook i5" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8734/GuessMyMessServer/Social/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISocialService"
    contract="SocialService.ISocialService" name="NetTcpBinding_ISocialService">
    <identity>
     <userPrincipalName value="DESKTOP-MBESJIN\zenbook i5" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>